* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
}
.main {
  max-width: 1175px;
  margin: 0 auto;
  flex: 1;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.4px;
  cursor: pointer;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
  position: relative;
  list-style-type: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 20px 0 15px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.nav__item:hover {
  transform: scale3d(0.9, 0.9, 0.9);
}
.nav__item::before {
  content: "";
  position: absolute;
  background: url('../images/icon/arrow.svg') no-repeat 0 0;
  background-size: cover;
  width: 10px;
  height: 10px;
  right: 0;
  top: 4px;
  transition: all .3s ease-in-out;
}
.nav__item:hover::before {
  transform: rotate(180deg);
}
/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 13px 0;
}
.header__icon {
  margin-right: 15px;
}
.header__icon:hover svg {
  fill: black;
}
/*socials*/
.socials {
  display: flex;
  align-items: center;
}
.social__list {
  display: flex;
}
.social__icon {
  display: flex;
}
.social__icon svg {
  fill: #747474;
  width: 16px;
  height: 17px;
  transition: all 0.3s ease-in-out;
}

/*Signin*/
.signin {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.signin::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: #5e5d5d;
  right: -15px;
}
.signin:hover .profile__text {
  color: black;
}
.signin:hover svg {
  fill: black;
}

/*Language*/
.language {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.language:hover .profile__text {
  color: black;
}
.language:hover svg {
  fill: black;
}

/*profile */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__icon {
  margin-right: 7px;
}
.profile__signin {
  margin-right: 30px;
}
.profile__text {
  color: #747474;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.language__text {
  margin-right: 4px;
}
.language__arrow {
  display: flex;
}
.language__arrow svg {
  fill: #747474;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease-in-out;
}

/*welcome*/
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 70px;
  background: url('../images/img/welcome.jpg') no-repeat 0 0;
  background-size: cover;
}
.welcome__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}
.welcome__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}
.welcome__second-title {
  color: #cdcdcd;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.welcome__title {
  margin-top: 30px;
  color: #fff;
  font-size: 42px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  width: 65%;
  text-align: center;
}
.welcome__btn {
  margin-top: 40px;
  background-color: #38419b;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 30px;
  border: 1px solid transparent;
  outline: 0;
  padding: 17px 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.welcome__btn:hover {
  background-color: #1e276d;
  border-color: #38419b;
}
/*controls*/
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls__button {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.controls__button::after {
  content: "";
  position: relative;
  width: 1px;
  height: 30px;
  background-color: #5e5d5d;
  right: -15px;
}
.controls__button:last-child {
  margin-right: 15px;
}
.controls__button:last-child::after {
  display: none;
}
.controls__button svg {
  fill: #fff;
  stroke: #fff;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.controls__button:hover svg {
  fill: black;
  stroke: black;
}

/*user*/
.user {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user__photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user__name {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
}
.user__meta {
  margin-top: 15px;
  width: 100%;
}
.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #959595;
  font-size: 12px;
  letter-spacing: 1px;
}
.meta__data {
  margin-right: 10px;
}
.user__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.user__comments {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.user__comments svg {
  stroke: black;
  width: 15px;
  height: 15px;
  fill: #959595;
  transition: all 0.3s ease-in-out;
}
.user__comments:hover svg {
  fill: black;
  stroke: #959595;
}
.user__like {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user__icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.user__like svg {
  width: 15px;
  height: 15px;
  fill: #959595;
  stroke: #959595;
  transition: all 0.3s ease-in-out;
}
.user__like:hover svg {
  stroke: black;
}
.user__text {
  color: #959595;
  font-size: 12px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
}
.user__comments:hover .user__text, .user__like:hover .user__text {
  color: black;
}
